* {
    font-family: 'Gentium Book Basic', serif;
    color: white;
}

ul>li {
	font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h3 {
    font-weight: bold;
    color: gold;
}

h5 {
    line-height: 30px;
}